.homeBannerSection { position: relative; overflow: hidden; }
.homeBannerSection .swiper { overflow: inherit !important; }
.homeBannerSection .swiper .item { overflow: hidden !important; border-radius: 10px; }
.homeBannerSection *{ outline: none !important; }
.homeBannerSection { cursor: pointer; }
.homeProducts { padding: 25px 0; width: 100%; }
.homeProducts .row { padding: 0; }
.homeProducts .sticky { top: 60px; }
.homeProducts .banner { width: 100%; border-radius: 7px; overflow: hidden; }

.productItem { width: 100%; height: auto; border: 1px solid rgba(0, 0, 0, 0.1); cursor: pointer; position: relative; border-radius: 10px !important; overflow: hidden; padding-bottom: 20px; transition: all 0.2s ease-in-out; }
.productItem:hover { border: 1px solid transparent !important; transform: translateY(-5px); box-shadow: 0 0 12px 1px rgba(100, 162, 235, 0.36); }
.productItem .badge { display: inline-block; padding: 7px 10px; position: absolute; top: 10px; left: 10px; z-index: 100; }
.productItem .info { padding: 15px; }
.productItem .info h4 { font-size: 15px; font-weight: 600; }
.productItem h4 { font-size: 15px; font-weight: 600; }

.info .oldPrice { font-size: 16px !important; font-weight: bold; color: rgba(255, 255, 255, 0.6); text-decoration: line-through; }
.info .oldPrice.lg { font-size: 20px; }
.info .netPrice { font-size: 16px !important; font-weight: bold; }
.info .netPrice.lg { font-size: 20px; }

.productItem .actions { position: absolute; top: 20px; right: 10px; z-index: 1000; display: flex; flex-direction: column; gap: 10px; transition: all 0.5s ease-in-out; opacity: 0; visibility: hidden; }
.productItem .actions button { display: flex; align-items: center; justify-content: center; min-width: 40px !important; height: 40px !important; width: 40px !important; border: 1px solid rgba(0, 0, 0, 0.1) !important; border-radius: 50% !important; background: #fff !important; box-shadow: 0 1px 3px rgb( 0 0 0 / 12%), 0 1px 2px rgb( 0 0 0 / 24%) !important; transition: all 0.0s !important; }
.productItem .actions button svg { color: #000 !important; opacity: 0.8; pointer-events: none; font-size: 15px; }
.productItem .actions button:hover { background: #7a55c1 !important; }
.productItem .actions button:hover svg { color: #fff !important; }

.productItem .imgWrapper { overflow: hidden; }
.productItem .imgWrapper img { transition: all 0.3s ease-in-out; }
.productItem .imgWrapper:hover .actions { opacity: 1; visibility: visible; }
.productItem .imgWrapper:hover img { transform: scale(1.1); }

.productRow h3 { text-shadow: 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9); }

.product_row { margin-left: -10px; margin-right: -10px; }
.product_row h3 { text-shadow: 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9); }
.product_row .swiper { padding-right: 140px !important; }
.product_row .item { border-right: 1px solid transparent; }
.product_row .swiper-wrapper { display: flex; gap: 10px; padding: 10px 5px; }
.product_row .swiper-slide:last-child .productItem { border: 1px solid rgba(0, 0, 0, 0.1) !important; }
.product_row .productItem { border-right: 1px solid rgba(0, 0, 0, 0.1) !important; overflow:hidden; }

.homeCat { padding: 35px 0px; }
.homeCat h3 { text-shadow: 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9), 0 0 9px rgba(37, 146, 238, 0.9); }
.homeCat h6 { color: #71778e !important; margin-top: 10px; }
.homeCat .swiper { padding-top: 5px; overflow: hidden; }
.homeCat .swiper .item { padding: 15px; width: 100%; height: auto; border-radius: 10px; transition: all 0.2s ease-in-out; }
.homeCat .swiper .item:hover { background: #ccc; box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b; transform: translateY(-5px); }
.homeCat .swiper .item img { width: 80%; }
.homeCat .swiper .item:hover img { animation: mover .7s infinite alternate; }

@keyframes mover { 0% { transform: translateY(0) } to { transform: translateY(-4px) } }

.homeCat .swiper-button-prev, .homeCat .swiper-button-next { top: -30px !important; width: 30px !important; height: 30px !important; }
.homeCat .swiper-button-prev { right: 68px !important; left: inherit !important; }
.homeCat .swiper-button-prev::after, .homeCat .swiper-button-next::after { font-size: 12px !important; }

.productRow2 { flex-wrap: wrap; gap: 10px; }
.productRow2 .productItem { width: 24%; overflow: hidden; border-right: 1px solid rgba(0, 0, 0, 0.1) !important; }

.newsLetterSection { width: 100%;height: auto; background-image: linear-gradient(to bottom right, #4a2888, #7a55c1); position: relative; overflow: hidden; padding: 70px 0; }
.newsLetterSection .col-md-6 { position: static !important; }
.newsLetterSection p { font-size: 18px; margin: 10px 0 !important; }
.newsLetterSection h3 { font-size: 35px; font-weight: bold; }
.newsLetterSection p.text-light { color: #fff !important; opacity: 0.5; font-size: 15px; }
.newsLetterSection img { position: absolute; bottom: 0; right: 0; }
.newsLetterSection form { width: 100%; height: 60px; background: #fff; padding: 10px; position: relative; border-radius: 5px; }
.newsLetterSection form svg { position: absolute; top: 17px; left: 10px; font-size: 25px; opacity: 0.3; }
.newsLetterSection form input { width: 100%; height: 100%; background: #fff !important; outline: none !important; border: 0 !important; padding-left: 40px; padding-right: 200px; }
.newsLetterSection form button { position: absolute; top: 6px; right: 7px; background: #6d4aae !important; font-size: 14px !important; padding: 12px 25px !important; color: #fff !important; text-transform: capitalize !important; font-weight: 600 !important; }