.signInPage { width: 100%; height: 100vh; position: relative; overflow: hidden; background: #2B083B !important; }
.signInPage .container .card { border: 0 !important; }
.border-effect { position: relative; color: #337ab7; text-decoration: none; }
.border-effect::after { display: block; position: absolute; left: 0; bottom: -2px; width: 0; height: 1px; background: #FFE8FF !important; content:''; -webkit-transition: .2s; -moz-transition: .2s; -o-transition: .2s; transition: .2s; }
.border-effect:hover { text-decoration: none; color: #000; }
.border-effect:hover::after { width: 100%; }
.signInPage .box { width: 400px; height: auto; background: #fff; margin: auto; position: relative; z-index: 100; border-radius: 10px !important; }
.signInPage .box h2 { font-size: 25px; font-weight: 600; }
.signInPage .box form { padding: 20px 30px; }
.signInPage .box .form-group { margin-bottom: 15px; }
.signInPage .box a { color: #FFE8FF !important; }
.signInPage .box a:hover { opacity: 0.8; }

.social-or { display: flex; align-items: center; justify-content: center; }
.social-or span { padding: 0 10px !important; }
.social-or::before, .social-or::after { background-color: rgba(255, 255, 255, 0.1); content: ''; display: block; height: 1px; flex-basis: 0; flex-grow: 1; }

.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root, .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root, .css-113d811-MuiFormLabel-root-MuiInputLabel-root, .css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused { font-family: "Pretendard"; color: #FFE8FF !important; }
.css-1ll44ll-MuiOutlinedInput-notchedOutline { border-color: rgb(255, 232, 255, 0.5) !important; }
.loginWithGoogle { width: 100%; font-weight: bold !important; color: #1976d2 !important; background-color: #FFE8FF !important; }
.loginWithGoogle img { width: 30px; margin-right: 10px; }